# Python
__pycache__/
*.py[cod]
*$py.class
.Python

# Virtual environments
venv/
env/
.venv/
*env/
djenv/

# Environments
.env
.env.*

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Logs
*.log
